body {
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #f72585;
  text-align: center;
}

a {
  color: yellow;
  border: 1px solid yellow;
  box-shadow: 0 0 2px yellow;
  margin: 20px;
}

ul {
  list-style-type: none;
  font-size: x-large;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  padding: 20px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 200px;
}

input, select {
  width: 200px;
  margin: 20px;
  padding: 10px;
  background-color: #ef476f;
  color: black;
}

.header {
  background-color: #f72585;
  padding: 50px;
}

.footer {
  background-color: #f72585;
  font-size: small;
}

.sortsongbutton, #deletebutton, #addsongbutton {
    background-color: #560bad;
    border: none;
    color: white;
    margin-top: 40px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 3px black;
}


#songsorting {
  width: 100%;
  background-color: #560bad;
  color: #edf6f9;
}

#songlist{
  width: 100%;
  background-color: #feeafa;
}

